<p id="notice"><%= notice %></p>

<div class = "well">
	<p>
	  <strong>Opinion:</strong>
	  <%= @voice.opinion %>
	  </br>
	  <div class = "timestamp">Created on <%= @voice.created_at.strftime("%b. %d, %Y")%> at <%= @voice.created_at.strftime("%H:%M")%> </div>
	</p>
	<% if current_user == @voice.user %>
		<%= link_to 'Edit', edit_voice_path(@voice) %> |
	<%end%>
	<%= link_to 'Back', voices_path %>
</div>


