<!DOCTYPE html>
<html>
	<head>
	  <title>JMO | Just My Opinion</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div id = "wrap">
			<div class = "container">
				<%= render "layouts/header" %>

				<% flash.each do |name, msg| %>
						<%= content_tag(:div, msg, class: "alert alert-#{name}") %>
				<%end%>
				<div class = "row">
					<div class="col-lg-10 col-lg-offset-1">
						<div class="text-center">
							<%= yield %>
						</div>
					</div>
				</div>
				<div class = "push"></div>

				<div class = "footer">
					<%= render "layouts/footer" %>
				</div>
			</div>
		</div>
	</body>
</html>
